{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todo/css/style.css' %}">
    <title>Your Problems</title>
</head>
<body>
    <img src="{% static 'todo/imgs/cat.jpg' %}" alt="">
    <h1>Hi, this is the page with your problems</h1>

    <div class="add-problem">
        <!-- 
        action='add/' is bad because it's hardcoded 
        use url tag instead
        -->
        <form action="{% url 'todo:add' %}" method="POST">
            {% csrf_token %}
            <label for="title">Enter title</label>
            <br>
            <input type="text" name="title" required>
            <br>
            <input type="submit" value="add">
        </form>
    </div>
    {% for el in problems %}
    <div class="problems-list">
        <p>{{el.title}}</p>
        <form action="" method="POST" target="_self">
            {% csrf_token %}
            <input type="submit" value="{% if  el.status == 'UDN'%}Done{% else %}Undone{% endif %} ">
            <input type="hidden" name="id" value="{{el.id}}">
            {{el.id}}
        </form>
        <form action="{% url 'todo:delete' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{el.id}}">
            <input type="submit" value="del">
        </form>
    </div>
    {% endfor %}
    
</body>
</html>